<nav class="sidebar">

  <a
    routerLink="/dashboard"
    routerLinkActive="active">

    <mat-icon>

      home

    </mat-icon>

    <span>

      Dashboard

    </span>

  </a>

  <a
    routerLink="/documents"
    routerLinkActive="active">

    <mat-icon>

      folder

    </mat-icon>

    <span>

      Documents

    </span>

  </a>

  <a
    routerLink="/chat"
    routerLinkActive="active">

    <mat-icon>

      forum

    </mat-icon>

    <span>

      AI Assistant

    </span>

  </a>

  <a>

    <mat-icon>

      settings

    </mat-icon>

    <span>

      Settings

    </span>

  </a>

</nav>
